*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#DDFFBB;
}
.column > input {
    /* height:60px; */
    top: 1px;
    overflow: hidden;
    

}

#row{
    display: none;
}

